/*Overrides*/
.cms-tree.jstree span.badge {
	border: none !important;
	padding: 2px 3px 1px !important;
	text-shadow: none !important;
	position: relative;
	margin-right: 0 !important;
}

/*Always visible badge*/
#cms-content-tools-CMSMain .cms-tree.jstree span.badge {
	position: absolute;
	right: 0;
	padding: 7px 9px 7px 5px !important;
	margin: 0 !important;
	top: 0;
	margin-top: 2px;
}
#cms-content-tools-CMSMain .cms-tree.jstree-apple a {
	overflow: hidden;
	display: block !important;
	position: relative;
}

/*Icons*/
.cms-tree.jstree .jstree-pageicon {
	position: relative;
}
.cms-tree.jstree .status-modified > a .jstree-pageicon:before,
.cms-tree.jstree .status-addedtodraft > a .jstree-pageicon:before,
.cms-tree.jstree .status-deletedonlive > a .jstree-pageicon:before,
.cms-tree.jstree .status-removedfromdraft > a .jstree-pageicon:before {
	content:"";
	display: block;
	width:5px;
	height: 5px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: #fce2d0;
	border: 1px solid #ff9344;
	border-radius: 100px;
	box-shadow: 0px 0px 0px 1px #fff;
}

/*Modified*/
.cms-tree.jstree .status-modified > a .jstree-pageicon:before,
.jstree-apple .status-modified .jstree-hovered,
.jstree-apple .status-modified .jstree-clicked,
.cms-tree.jstree span.badge.status-modified  {
	background-color:#fce2d0;
	border-color:#ff9344;
}
.cms-tree.jstree span.badge.status-modified  {
	color: #ff9344;
}

/*New pages*/
.cms-tree.jstree .status-addedtodraft > a .jstree-pageicon:before,
.jstree-apple .status-addedtodraft .jstree-hovered,
.jstree-apple .status-addedtodraft .jstree-clicked,
.cms-tree.jstree span.badge.status-addedtodraft  {
	background-color:#f8f4d0;
	border-color:#e4b600;
}
.cms-tree.jstree span.badge.status-addedtodraft  {
	color: #e4b600;
}

/*Deleted*/
.cms-tree.jstree .status-deletedonlive > a .jstree-pageicon:before,
.cms-tree.jstree .status-removedfromdraft > a .jstree-pageicon:before,
.jstree-apple .status-deletedonlive .jstree-hovered,
.jstree-apple .status-removedfromdraft .jstree-hovered,
.jstree-apple .status-deletedonlive .jstree-clicked,
.jstree-apple .status-removedfromdraft .jstree-clicked,
.cms-tree.jstree span.badge.status-deletedonlive,
.cms-tree.jstree span.badge.status-removedfromdraft {
	background-color: #f9d6dd;
	border-color: #f0524f;
}
.cms-tree.jstree span.badge.status-deletedonlive,
.cms-tree.jstree span.badge.status-removedfromdraft {
	color: #f0524f;
}